<h1>Band Names</h1>
<ul>
    <li>
    <% if logged_in? %>
        <%= link_to "Enter a band name", idea_path %>
    <% else %>
        Login to enter a band name
    <% end %>
    </li>
    <li>Vote on the coolest band names (coming soon)</li>
    <li>And lots more... (maybe)</li>
</ul>
