<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>
</h1>
<% if @bandnames.any? %>
  <h2>Band Names (<%= @bandnames.count %>)</h2>
  <ol>
      <%= render @bandnames %>
  </ol>
  <%= will_paginate @bandnames %>
<% end %>
