<tr>
  <th scope="row">
    <%= link_to bandname.name, bandname %> 
  </th>
  <td>
    <%= number_with_precision(bandname.cached_weighted_average, precision: 2) %>
    <% bandname.rating.to_i.times do  %>
        <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% bandname.blank_stars.times do %>
        <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
  </td>
</tr>