<% provide(:title, @bandname.name) %>
<h1>
  <%= @bandname.name %>
</h1>
<p>Vote by clicking the stars.</p>
<ul>
  <li>Created by <%= User.find(@bandname.user_id).name %></li>
  <% if logged_in? %>
    <li>Your vote: <%= render partial: 'layouts/vote', locals: {bandname: @bandname} %></li>
  <% end %>
</ul>
<p><%= link_to "Home", root_path, :class => "btn btn-primary" %></p>
